---
layout: project
tab: docs
title: What's New
---
.row-fluid
  .span3.sidebar
    .accordion#whatsnew
      - i = 0
      - site.product_whatsnews.sort_by{|k,v| k}.reverse.each do |product_version, whatsnew_pages|
        - i++
        %div.accordion-group
          .accordion-heading
            %a.accordion-toggle{:"data-toggle"=>"collapse", :"data-parent"=>"#whatsnew", 
              :href=>"#collapse#{i}"}
              #{site.products[:jbt_core].name} #{product_version}
          %div.accordion-body.collapse{:id=>"collapse#{i}"}
            .accordion-inner
              %ul.nav.nav-list
                - whatsnew_pages.each do |whatsnew_page|
                  %li 
                    %a{:href=>whatsnew_page.output_path} #{site.modules[whatsnew_page.feature_id].name}
            
      
      
  .span9
    :markdown
    
      ## JBoss Tools News and Noteworthy
      
      If you are new to JBoss Tools and JBoss frameworks [jboss.org/developer](http://jboss.org/developer) is a recommended starting point.
      
      This page is a log of the new and noteworthy changes/features in JBoss Tools and JBoss Developer Studio. 
      
      Latest JBoss Tools and DevStudio can be downloaded from our [download page](../downloads).
      
      Be aware that the list of actual included features in the GA can differ from what is in the older new and 
      noteworthy if the feature has changed or been removed or postponed.

      If you're looking for **previous versions** of individual new and noteworthy, please go to our 
      [archived news](http://docs.jboss.org/tools/whatsnew/index.html).
    
  