---
layout: project
title: What's New
---
- for product_id in [:jbt_core, :jbt_is] do 
  .row-fluid.whatsnew-index
    .span12
      %div{:class=>"hero-unit #{product_id}"}
        .hero-left
          %h1 
            #{site.products[product_id].name} 
          %a{:href=>relative(site.latest_whatsnew_page[product_id].output_path)} 
            See What's New in #{site.latest_whatsnew_page[product_id].product_version} 
        .hero-right
          #{site.products[product_id].name} has New and Noteworthies for:
          %ul
            - site.whatsnew_components[product_id].sort.each do |component_id|
              %li #{site.components[component_id].name}
        
          
        
        
      
      
