---
layout: project
title: Downloads
tab: downloads
---

- devstudio_current_stable_release = site.latest_builds_download_pages[:devstudio][:stable]
- jbtcore_current_stable_release = site.latest_builds_download_pages[:jbt_core][:stable]

.row-fluid#downloads
  .hero-unit
    .hero-left
      %h1
        #{devstudio_current_stable_release.build_info.name} 
      %a.btn.btn-primary.btn-large{:href=>relative(devstudio_current_stable_release.output_path)} 
        %i.icon-download
        Download version #{devstudio_current_stable_release.build_info.version}
    .hero-right
      %ul.items
        %li One click install - for Windows, Linux and Mac        
        %li Based on JBoss Tools 4.1 supported plugins
        %li Full IDE installer or install to existing Eclipse
        %li JBoss Central to install extra features
        %li 
          %strong Supported by Red Hat
        %li Released on #{devstudio_current_stable_release.build_info.release_date}

  %hr

  .hero-unit
    .hero-left
      %h1
        #{jbtcore_current_stable_release.build_info.name}
      %a.btn.btn-primary.btn-large{:href=>relative(jbtcore_current_stable_release.output_path)} 
        %i.icon-download
        Download version #{jbtcore_current_stable_release.build_info.version}
      
    .hero-right
      %ul.items
        %li Individual plugins for Eclipse, including experimental plugins
        %li Install into existing Eclipse only
        %li Some assembly required
        %li JBoss Central to install extra features
        %li
          %strong Community only support
        %li Released on #{jbtcore_current_stable_release.build_info.release_date}
    

  %hr
    .center
      :markdown
        Looking for another version ? See the [overview of all downloadable versions](overview.html).
