---
layout: project
title: Downloads
tab: downloads
---

- devstudio_current_stable_release = site.latest_stable_builds_download_pages[:devstudio]
- jbtcore_current_stable_release = site.latest_stable_builds_download_pages[:jbt_core]
- puts "devstudio release=" + devstudio_current_stable_release.build_info.to_s
- puts "jbosstools release=" + jbtcore_current_stable_release.build_info.to_s

.container-fluid
  .row-fluid#downloads
    .span6.download-unit
      %h3
        #{devstudio_current_stable_release.build_info.name} #{devstudio_current_stable_release.build_info.version}
      %ul.items
        %li 
          %strong Supported by Red Hat
        %li Based on JBoss Tools 4.1 supported plugins
        %li One click install - works on Windows, Mac and Linux
        %li Full IDE installer or install from existing Eclipse
        %li JBoss Central to install extra features
        %li Released on #{devstudio_current_stable_release.build_info.release_date}
      .download-btn
        %a.btn.btn-primary{:href=>relative(devstudio_current_stable_release.output_path)} 
          %i.icon-download
          Download
    .span6.download-unit
      %h3
        #{jbtcore_current_stable_release.build_info.name} #{jbtcore_current_stable_release.build_info.version}
      %ul.items
        %li
          %strong Community supported
        %li Individual plugins for Eclipse, including experimental plugins
        %li Install from existing Eclipse only
        %li JBoss Central to install extra features
        %li Released on #{jbtcore_current_stable_release.build_info.release_date}
      .download-btn
        %a.btn.btn-primary{:href=>relative(jbtcore_current_stable_release.output_path)} 
          %i.icon-download
          Download
    