---
layout: default
title: Downloads
tab: downloads
---
.container-fluid
  .row-fluid
    .span6
      #jbds
        .download-unit
          %h3.center
            #{site.products[:jbds]} #{site.downloadable_builds[:jbds][:releases].first.version}
          %ul.items
            %li 
              %strong Supported by Red Hat
            %li Based on JBoss Tools 4.1 supported plugins
            %li One click install - works on Windows, Mac and Linux
            %li Full IDE installer or install from existing Eclipse
            %li JBoss Central to install extra features
            %li Released on #{site.downloadable_builds[:jbds][:releases].first.release_date}
          .download-btn
            %a.btn.btn-primary{:href=>"#{site.downloads_pages[:jbds].output_path}"} 
              %i.icon-download
              Download
    .span6
      #jbt
        .download-unit
          %h3.center
            #{site.products[:jbt_core]} #{site.downloadable_builds[:jbt_core][:releases].first.version}
          %ul.items
            %li
              %strong Community supported
            %li Individual plugins for Eclipse, including experimental plugins
            %li Install from existing Eclipse only
            %li JBoss Central to install extra features
            %li Released on #{site.downloadable_builds[:jbt_core][:releases].first.release_date}
          .download-btn
            %a.btn.btn-primary{:href=>"#{site.downloads_pages[:jbt_core].output_path}"} 
              %i.icon-download
              Download
