---
layout: default
title: Downloads
tab: downloads
---
- current_jbds_release = site.downloadable_builds[:jbds][:latest_release].first
- current_jbt_release = site.downloadable_builds[:jbt_core][:latest_release].first
.container-fluid
  .row-fluid
    .span6
      #jbds
        .download-unit
          %h3.center
            #{current_jbds_release.name} #{current_jbds_release.version}
          %ul.items
            %li 
              %strong Supported by Red Hat
            %li Based on JBoss Tools 4.1 supported plugins
            %li One click install - works on Windows, Mac and Linux
            %li Full IDE installer or install from existing Eclipse
            %li JBoss Central to install extra features
            %li Released on #{current_jbds_release.release_date}
          .download-btn
            %a.btn.btn-primary{:href=>relative(site.download_pages[:jbds][0].output_path)} 
              %i.icon-download
              Download
    .span6
      #jbt
        .download-unit
          %h3.center
            #{current_jbt_release.name} #{current_jbt_release.version}
          %ul.items
            %li
              %strong Community supported
            %li Individual plugins for Eclipse, including experimental plugins
            %li Install from existing Eclipse only
            %li JBoss Central to install extra features
            %li Released on #{current_jbt_release.release_date}
          .download-btn
            %a.btn.btn-primary{:href=>relative(site.download_pages[:jbt_core][0].output_path)} 
              %i.icon-download
              Download
