---
layout: project
title: All Downloads
---

.row-fluid
  .hero-unit.center
    %h1 All Downloads
    %hr
    
#all-downloads
  .row-fluid
    .span12
      %table.center
        %tr
          %th Eclipse Version
          - for product_id in [:devstudio, :devstudio_is, :jbt_core, :jbt_is]
            - next if site.download_pages[product_id].nil? || site.download_pages[product_id].empty?
            %th.center #{site.products[product_id].name}
        - site.products[:eclipse].each do |eclipse_version, eclipse_info|
          %tr
            %td 
              %a{:href=>eclipse_info.download_url, :alt=>"Download #{eclipse_info.full_name}"} #{eclipse_info.full_name}
            - for product_id in [:devstudio, :devstudio_is, :jbt_core, :jbt_is]
              - next if site.download_pages[product_id].nil? || site.download_pages[product_id].empty?
              %td
                - labels = Hash.new
                - site.download_pages[product_id].each do |product_version, download_page|
                  - next if download_page.build_info.eclipse_version != eclipse_info
                  .block
                    %a{:href=>relative(download_page.output_path)} #{product_version}
                    - if labels[download_page.build_info.build_type_label].nil? 
                      %span{:class=>"label label_#{download_page.build_info.build_type_label}"} #{download_page.build_info.build_type_label}
                      - labels[download_page.build_info.build_type_label] = true
                  
                  
                  
            
            
            
                                    
            
            
          
            
            
            
                  
            
      