---
layout: default
tab: downloads
product:
  name: JBoss Tools 
  status: stable
  version: 4.1.0
  eclipse_version: Kepler
  eclipse_download: http://www.eclipse.org/downloads/
  release_date: 2013-07-22
  marketplace_url: http://marketplace.eclipse.org/node/876523
  marketplace_install_url: http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=876523
  update_site_url: http://download.jboss.org/jbosstools/updates/stable/kepler/
  archives:
    - name: Update site (including sources) bundle of all JBoss Tools Core
      download_size: 409MB
      url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/jbosstools-Update-4.1.0.Final_2013-07-19_19-47-52-B380.zip
      md5_url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/jbosstools-Update-4.1.0.Final_2013-07-19_19-47-52-B380.zip.MD5
    - name: Sources zip of all JBoss Tools Core
      download_size: 135MB
      url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/jbosstools-Sources-4.1.0.Final_2013-07-19_19-47-52-B380.zip
      md5_url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/jbosstools-Sources-4.1.0.Final_2013-07-19_19-47-52-B380.zip.MD5
    - name: Update site (including sources) bundle of all Hibernate Tools
      download_size: 78MB
      url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/hibernatetools-Update-4.1.0.Final_2013-07-19_19-47-52-B380.zip
      md5_url: http://sourceforge.net/projects/jboss/files/JBossTools/JBossTools4.1.x/hibernatetools-Update-4.1.0.Final_2013-07-19_19-47-52-B380.zip.MD5
---
.container-fluid
  .row-fluid
    .span12
      %h3.center< Installing #{page.product.name} #{page.product.version}
  .row-fluid
    .span8
      %a{:href=>"#requirements-modal", :"data-toggle"=>"modal"} Requirements
      %span &#124; 
      %a{:href=>"#{site.base_url}/whatsnew/"} What's New
      %span &#124; 
      %a{:href=>"#"} Release Note
    .span4.right
      %a{:href=>""} Try latest developments
      %span &#124; 
      %a{:href=>"#"} Archived versions
  .row-fluid#release_info
    .span12
      #{page.product.name} #{page.product.version} was released on #{page.product.release_date}. Read the
      %a{:href=>""} announcement on our blog
      to know more about it.
      
  - if page.product.status == 'development_build'
    .row-fluid
      .span12
        .alert
          %strong Development builds
          are have received basic testing, but are not considered fully stable yet.
  - if page.product.status == 'nightly_build'
    .row-fluid
      .span12
        .alert
          %strong Warning! 
          Installing 
          %strong nightly builds
          might result in black holes being created !
          
          
  .row-fluid#installation
    .span12.tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href=>"#product-marketplace", :"data-toggle" => "tab"}
            Eclipse Marketplace
        %li
          %a{:href=>"#product-updatesite", :"data-toggle" => "tab"}
            Update Site
        %li
          %a{:href=>"#product-downloads", :"data-toggle" => "tab"}
            Downloads
          
      -# Tab content
      #installation-tabs.tab-content
        #product-marketplace.tab-pane.fade.in.active
          %p
            Drag and drop the 
            %a{:href=>page.product.marketplace_install_url, :title=>"Install"}
              %img{:src=>"#{site.base_url}/images/tools/installbutton.png", :alt=>"Drag and drop this button into a running #{eclipse_name} workspace to install #{page.product.name}", :height=>"25", :width=>"63"}
            icon on your active
            %strong< Eclipse #{page.product.eclipse_version} 
            workspace, or alternatively, search for &quot;
            %strong> #{page.product.name} (#{page.product.eclipse_version})
            &quot; in Eclipse via:
            %blockquote
              Help > Eclipse Marketplace...
          %p
            You can also view the installation page on the&nbsp
            %a{:href=>page.product.marketplace_url, :title=>"Eclipse Marketplace"}> Eclipse Marketplace
            \.
          
        #product-updatesite.tab-pane.fade.in
          :markdown
            Add the following URL to your **Eclipse #{page.product.eclipse_version}** workspace: [#{page.product.update_site_url}](#{page.product.update_site_url})
            via 

            > Help > Install New Software...
            
            then select the individual features that you want to install.

        #product-downloads.tab-pane.fade.in
          :markdown
            You can download Update Zips (Archived p2 Repos) for offline installation of **#{page.product.name}**, but **DO NOT UNPACK THEM** into your Eclipse root or dropins folder!
            Next, install into Eclipse using

            > Help > Install New Software... > Add... > Archive...
          
            and point to the archive you downloaded from the tables below, depending on the features of JBoss Tools you want to use.
        
          %table.center
            %tr
              %th<Name
              %th<Size
              %th<Links
            - page.product.archives.each do |archive|
              %tr
                %td #{archive.name}  
                %td.right #{archive.download_size}              
                %td 
                  - if archive.url.end_with? "zip"
                    %a{:href=>archive.url} zip
                  - if archive.url.end_with? "html"
                    %a{:href=>archive.url} html
                  - if archive.md5_url?
                    (
                    %a{:href=>archive.md5_url}> md5
                    )
                    
                    
-# modal dialog to display requirements
#requirements-modal.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
  .modal-header
    %button.close{:type=>"button", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"} x
    %h3#myModalLabel #{page.product.name} #{page.product.version} Requirements
  .modal-body
    %p 
      #{page.product.name} #{page.product.version} runs on Windows, MacOSX and Linux and requires 
      %a{:href=>page.product.eclipse_download}
        Eclipse #{page.product.eclipse_version}.
  .modal-footer
    %button.btn{:"data-dismiss"=>"modal", :"aria-hidden"=>"true"} Close
    
-# Placed at the end of the document so the pages load faster
:javascript
  $('a[data-toggle=tab]').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })