---
layout: container
selected_tab: features
---
.row-fluid 
  .span12
    - features = site.features.values 
    - features = features.sort{|l,r| l.features_index <=> r.features_index}
    - for feature in features
      .feature 
        %img{:src=>"#{site.base_url}#{feature.image_url}", :alt=>"#{feature.title}"}
        %h4 #{feature.title}
        #{feature.content}
        - if feature.url?  
          %a{:href=>feature.url} Read more... 
 
  
  

