---
layout: project
tab: home
title: Home
status: green
---
#homepage
  .row-fluid
    .span12
      .hero-unit.flexbox.stretch-row
        .hero-content
          %h1
            JBoss Tools
          %h2
            Eclipse Plugins for
            JBoss Technology
          .hero-buttons
            %a.btn.btn-primary.btn-large{:href => relative("/downloads")}
              %i.icon-download
              Download
            %br
            %a.small{:href=>relative("/documentation/whatsnew")} What's New
        %img.visible-desktop{:src=>relative("/images/tools/jbt-jaxrs.jpg"), :width=>500, :height=>331, :alt=>"JBoss Tools - Plugins for JBoss Technology"}
      
  .row-fluid
    -# main column
    #main.span8
      %section#highlighted_features
        %header
          %h2
            %a{:href=>"/features"} Highlighted Features
        .row-fluid.flexbox.stretch-row
          - features = site.features["jbt_core"].find_all{|feature| ["quarkus", "server", "cdi", "openshift2"].include?(feature.feature_id)}
          - for feature in features
            .span4.center
              %a{:href=>relative(feature.url)}
                .title
                  %h3 #{feature.name}
                .body
                  %img{:src=>relative(feature.image_url), :alt=>"#{feature.name}"}
                .footer
                  %h4 #{feature.tagline}
      
      .row-fluid.visible-desktop
        .span12
          %hr
      .row-fluid
        %section#call_for_participation
          %header
            %h2
              %a{:href => relative("/getinvolved")} Call for Participation
            %p
            You can get involved in JBoss Tools by visiting 
            %a{:href => relative("/getinvolved")}this page 
    -# aside column
    %aside.span4
      .row-fluid
        .span12.well
          %section
            .header
              %h3
                %a{:href => relative("/blog")} Latest Posts
                %a{:href => relative("/blog/news.atom")}
                  %img#rss-icon{:src=>relative("/images/feed-icon-28x28.png"), :width=>21, :height=>21}
        
            - posts = site.posts.sort{|l,r| r.date <=> l.date}.first(4)
            .latest-posts
              - for post in posts
                .header
                  %img.img-polaroid{:src => "#{site.team[post.author].photo_32px}", :width=>32, :height=>32}
                  .title
                    %h4
                      %a{:href=>relative(post.url)}= post.title
                      - if post.draft_article
                        %span{:class=>"label label-important"}
                          DRAFT
                    .author
                      /there is only one author per post but the author splitter adds an array here
                      by
                      %a{:href=>site.team[post.author].developer_page}
                        %strong< #{site.team[post.author].title}
                      on
                      %strong< #{post.date.strftime( '%b %d, %Y' )}.
          %hr
          %section
            .header
              %h3
                %a{:href => relative("/events")} Upcoming Events
            - events = site.events
            - now = Time.now
            - a_few_days_ago = now - 4 * 24 * 60 * 60
            - events = events.find_all{|item| item.effective_date.to_s >= a_few_days_ago.strftime("%Y%m%d")}
            - events = events.sort{|r,l| r.effective_date <=> l.effective_date}
            - for event in events
              .event
                .header
                  %h4
                    %a{:href=>relative(event.output_path)} #{event.title}
                .abstract
                  %strong
                    #{event.event_date}
                  in
                  %strong
                    #{event.location}
