---
layout: base_layout
tab: home
---
.row-fluid
  .hero-unit.hidden-phone
    %img{:alt => "JBoss Tools", :src => "./images/nav/jbt-carousel-jaxrs.png"}
    .hero-content
      %h1
        JBoss Tools
      %h2
        Eclipse Plugins for 
        JBoss Technology    
        %br
        %a
          %img{:src => "/images/nav/installbutton.png"}

.row-fluid
  %hr
            
#sections.row-fluid
  %section.span4
    - features = site.features 
    - feature = features.find_all{|feature| feature.highlighted == true}.first
    #features-highlight
    - if feature != nil
      %header
        %h3
          %i.icon-magic
          %a{:href => "/features"}
            Feature Highlight
      .item.center
        %span.tagline #{feature.tagline} 
        %a.block{:href=>feature.url}
          %img{:src=>feature.image_url}
  
  %section.span4  
    %header
      %h3
        %i.icon-pencil
        %a{:href => "/blog"}
          Latest news
    - news = site.posts
    - today = Time.now 
    - news = news.find_all{|item| item.date.strftime("%Y%m%d") <= today.strftime("%Y%m%d")}
    - article = news.sort{|l,r| l.date <=> r.date}.first
    .item
      %h4
        %a{:href=>article.url} #{article.title}
      posted by 
      %strong< #{site.team[article.author].name}
      on #{article.date.strftime( '%b %d, %Y' )}.  
      %a{:href=>article.url}
        Read more...

  %section.span4
    %header
      %h3
        %i.icon-globe
        %a{:href => "/events"}
          Upcoming Events
    - events = site.events.values
    - now = Time.now 
    - a_few_days_ago = now - 4 * 24 * 60 * 60
    - events = events.find_all{|item| item.effective_date.to_s >= a_few_days_ago.strftime("%Y%m%d")}
    - event = events.sort{|l,r| l.effective_date <=> r.effective_date}.first
    .item
      %h4
        #{event.title}
      %strong  
        &= event.event_date 
        in
        &= event.location
      .details
        #{event.content}








