---
layout: default
---
%script{:type=>"text/javascript", :src=>"javascripts/bootstrap-carousel.js" }
%script{:type=>"text/javascript"} 
  $('.carousel').carousel();
#wrap-content 
  #wrapper-3b  
    #container-reduced
      .row-fluid
        .span12
          #headingCarousel.carousel.slide
            -# carousel items
            #carousel-inner
              .item.active
                %img.center{:alt => "Slideshow Image", :src => "http://jboss.org/dms/tools/images/jbtcarousel-009-central/jbtcarousel.009-central.png"}
              .item
                %img.center(alt="Slideshow Image" src="http://jboss.org/dms/tools/images/jbtcarousel-010-browsersim/jbtcarousel.010-browsersim.png")
              .item
                %img.center(alt="Slideshow Image" src="http://jboss.org/dms/tools/images/jbtcarousel-005/jbtcarousel.005.png") 
              .item
                %img.center(alt="Slideshow Image" src="http://jboss.org/dms/tools/images/jbtcarousel-001/jbtcarousel.001.png") 
              .item
                %img.center(alt="Slideshow Image" src="http://jboss.org/dms/tools/images/jbtcarousel-002/jbtcarousel.002.png")
            -# carousel nav controls
            %a(class="carousel-control left" href="#headingCarousel" data-slide="prev")& &lsaquo;
            %a(class="carousel-control right" href="#headingCarousel" data-slide="next")& &rsaquo;

      #menu.row-fluid
        .span12
          %a.span3#install{:href => "install.html"} Install 
          %a.span3#features{:href => "features.html"} Features
          %a.span3#videos{:href => "videos.html"} Videos
          %a.span3#community{:href => "community.html"} Community
          
      #sections.row-fluid
        .span4
          %h3#feature-highlight Feature Highlight
          - features = site.features.values 
          - features = features.find_all{|item| item.highlight == true}
          - for feature in features
            .item
              %h5
                &= feature.title
              .details
                #{feature.content}
                - if feature.url?
                  %a{:href=>feature.url}
                    Read more...

        .span4  
          %h3#latest-news Latest news
          - news = site.news.values
          - today = Time.now 
          - news = news.find_all{|item| item.effective_date.to_s <= today.strftime("%Y%m%d")}
          - news = news.sort{|l,r| l.effective_date <=> r.effective_date}
          - for article in news
            .item
              %h5
                #{article.title}
              %strong  
                #{article.author}
              .details
                #{article.content}
                - if article.url?
                  %a{:href=>article.url}
                    Read more...

        .span4  
          %h3#upcoming-events Upcoming Events
          - events = site.events.values
          - now = Time.now 
          - a_few_days_ago = now - 4 * 24 * 60 * 60
          - events = events.find_all{|item| item.effective_date.to_s >= a_few_days_ago.strftime("%Y%m%d")}
          - events = events.sort{|l,r| l.effective_date <=> r.effective_date}
          - for event in events
            .item
              %a{:href=>event.url}
                %h5
                  #{event.title}
              %strong  
                &= event.event_date 
                in
                &= event.location
              .details
                #{event.content}
                - if event.url?
                  %a{:href=>event.url}
                    Read more...


    
  
  
  


