---
layout: default
---
#wrap-content 
  #wrapper-3b  
    #container-reduced
      #menu.row-fluid 
        .span12
          %a.span3#install{:href => "install.html"} Install 
          %a.span3#features{:href => "features.html"} Features
          .span3#videos.selected Videos
          %a.span3#community{:href => "community.html"} Community
          
      .row-fluid 
        .span12 
        -# files are fetched in a pre-defined order (using filename)
        - index = site.videos[:index2]
        - for category in index.categories
          %div #{category.title} 
          - for movie in category.movies
            %span #{movie.title} (#{movie.vimeo_id}) 
          
            
      -# videos = section.videos 
      -# for video in videos do 
      -#  %span #{video.title} (#{video.vimeo_id}) 
         
         
 
  
  

