---
layout: project
title: What's New
tab: docs
status: yellow
---
.row-fluid
  .hero-unit.center
    %h1 
      What's New 
    %p
      New and Noteworthy about #{site.products[:jbt_core].name} and
      #{site.products[:jbt_is].name} 

- count = 0    
- for product_id in [:jbt_core, :jbt_is] do 
  - unless site.whatsnew_pages[product_id].nil?
    - count += site.whatsnew_pages[product_id].values.select{|whatsnew_page| !whatsnew_page.build_type_label.nil?}.length
  
- spanValue = "span" << (12/count).to_s

.row-fluid.whatsnew-index.flex
  - for product_id in [:jbt_core, :jbt_is, :devstudio, :devstudio_is] do 
    - unless site.whatsnew_pages[product_id].nil?
      - site.whatsnew_pages[product_id].values.select{|whatsnew_page| !whatsnew_page.build_type_label.nil?}.sort{|p1, p2| p2.product_version <=> p1.product_version}.each do |whatsnew_page|
        %section{:class=>spanValue}
          %header
            %h3 
              %a{:href=>relative(whatsnew_page.output_path)} #{site.products[product_id].name} #{whatsnew_page.product_version}
              - unless whatsnew_page.build_type_label.nil?
                %span{:class=>"label label_#{whatsnew_page.build_type_label}"}
                  #{site.labels[whatsnew_page.build_type_label]}
          
          .item.center
            - relevant_components = whatsnew_page.component_news.keys.select{|k| k != "general"}
            - if relevant_components.length > 0
              %p
                See what's new in #{site.products[product_id].name} #{whatsnew_page.product_version}, including:
              %ul.double
                - relevant_components.each_with_index do |component_id, index|
                  %li 
                    %a{:href=>relative("#{whatsnew_page.output_path}##{component_id}")} #{site.components[component_id].name}
            - else
              %p See what's new in #{site.products[product_id].name} #{whatsnew_page.product_version}.
          %footer.center
            %a.btn.btn-small{:href=>relative(whatsnew_page.output_path)} Read more &raquo;
      
