.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li#home<
            %a(href="#{relative('/')}") Home
          
          %li#downloads<
            %a(href="#{relative('/downloads/')}") Downloads
          
          %li#docs.dropdown<
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              =precede 'Docs ' do
                %b.caret>
            %ul.dropdown-menu 
              %li<
                %a(href="#{relative('/features')}") Features
              %li<
                %a(href="#{relative('/whatsnew')}") What's New
              %li<
                %a(href="#{relative('/guides/videos.html')}") Video Tutorials
              %li<
                %a(href="http://docs.jboss.org/tools/4.1.0.Final/") Reference Guides
          
          %li#community.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              =precede 'Community ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="#{relative('/contribute.html')}") Contribute
              %li<
                %a(href="http://www.jboss.org/community/docs/DOC-10794") Wiki
              %li<
                %a(href="http://community.jboss.org/community/tools?view=discussions") User Forum
              %li<
                %a(href="https://lists.jboss.org/mailman/listinfo/jbosstools-dev") Mailing Lists
              %li<
                %a(href="irc://irc.freenode.org/jbosstools") Chat
              %li#blog<
                %a(href="#{relative('/blog/')}") Blog
          
          %li#issuetracker<
            %a(href="https://issues.jboss.org/browse/JBIDE") Issues
          
          %li#sourcecode<
            %a(href="https://github.com/jbosstools") Source Code
          
          %li#build<
            %a(href="http://hudson.jboss.org/hudson/view/JBossTools/view/JBossTools_Trunk/") Build
          
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="http://twitter.com/jbosstools")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
              %li<
                %a(href="https://plus.google.com/109915195368578219327")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")



          