.accordion#whatsnew
  - i = 0
  - site.product_whatsnews.sort_by{|k,v| k}.reverse.each do |product_version, whatsnew_pages|
    - i = i + 1
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:"data-toggle"=>"collapse", :"data-parent"=>"#whatsnew", 
          :href=>"#collapse#{i}"}
          #{product_version}
      .accordion-body.collapse{:id=>"collapse#{i}"}
        - if page.jbt_core_version == product_version
          :javascript
            $('#collapse#{i}').addClass('in');
        %ul.nav.nav-list
          %ul.nav.nav-list
            - whatsnew_pages.each do |whatsnew_page|
              - if whatsnew_page.output_path == page.location
                %li.active
                  %a{:href=>join(site.base_url, whatsnew_page.output_path)} #{site.modules[whatsnew_page.feature_id].name}
              - else
                %li 
                  %a{:href=>join(site.base_url, whatsnew_page.output_path)} #{site.modules[whatsnew_page.feature_id].name}
