---
layout: project
title: Blog
tab: blog
#status: yellow
#issues: none
---
.row-fluid
  .hero-unit.center
    - if !page.selected_tag.nil?
      %h1 Posts tagged with '#{page.selected_tag}'
      - page.title = "Posts tagged with '#{page.selected_tag}'"
    - else
      %h1 Latest posts
    
- if !page.posts.nil?
  .row-fluid
    .span9#core-page.posts
      - for post in page.posts
        .well.post-bg
          .post
            .header.flexbox.row-start
              .polaroid
                %a{:href=>site.team[post.author].developer_page}
                  %img.img-polaroid{:src=>"#{site.team[post.author].photo_64px}"}
              .title
                %h3
                  %a{:href=>relative("#{post.url}")}= post.title
                  - if post.draft_article
                    %span{:class=>"label label-important"}
                      DRAFT
                .author
                  /there is only one author per post but the author splitter adds an array here
                  posted by 
                  %a{:href=>site.team[post.author].developer_page}
                    %strong< #{site.team[post.author].title}
                  on 
                  %strong< #{post.date.strftime( '%b %d, %Y' )}.
                  %p
                    - if(post.tags != null && !post.tags.empty?) 
                      - post.tags.each do |tag|
                        - if(!tag.nil? && !tag.primary_page.empty?)
                          %a.label.label-info{:href=>relative(tag.primary_page.url)} #{tag}
                        - else 
                          #{tag}
            .body
              - default_imagesdir = site.asciidoctor.attributes['imagesdir']
              - site.asciidoctor.attributes['imagesdir'] = Pathname.new(post.output_path).parent.to_s
              ~post.content
              - site.asciidoctor.attributes['imagesdir'] = default_imagesdir

    .span3.well
      .header
        %h3
          %a{:href => relative("/blog")} Latest posts
          %a{:href=>relative("/blog/news.atom")}
            %img#rss-icon{:src=>relative("/images/feed-icon-28x28.png"), :width=>"20px"}
      .latest-posts
        - posts = site.posts.sort{|l,r| r.date <=> l.date}.first(5)
        - for post in posts
          .header
            %img.visible-desktop.img-polaroid{:src => "#{site.team[post.author].photo_32px}"}
            .title
              %h4
                %a{:href=>relative(post.url)}= post.title
                - if post.draft_article
                  %span{:class=>"label label-important"}
                    DRAFT
              .author
                /there is only one author per post but the author splitter adds an array here
                by
                %strong< #{site.team[post.author].title}
                on
                %strong< #{post.date.strftime( '%b %d, %Y' )}.
      %hr
      .footer
        %h4
          %a{:href => relative("/blog/all.html")} All posts            
                
  .row-fluid
    .span12.center
      .pagination
        - next_page = page.posts.next_page
        - previous_page = page.posts.previous_page
        - current_page = page.posts.current_page
        - current_page_index = page.posts.current_page_index
        
        %ul
          - if previous_page
            %li
              %a{:href=>relative("#{previous_page.url}")} &laquo;
          - else            
            %li.disabled
              %a{:href=>"#"} &laquo;
          - page.posts.pages.each_with_index do |page, i|
            - if i == current_page_index 
              %li.active
                %a{:href=>"#"} #{i+1}
            - else
              %li
                %a{:href=>relative("#{page.url}")} #{i+1}
          


          - if next_page
            %li
              %a{:href=>relative("#{next_page.url}")} &raquo;
          - else            
            %li.disabled
              %a{:href=>"#"} &raquo;
- else
  .row-fluid
    .span12.center
      %h1< 
        Oops... 
      %p
        We did not post anything yet, but you can subscribe to our Atom Feed to get updated when something gets published.
        %a{:href=>relative("/blog/news.atom")}
          %img#rss-icon{:src=>relative("/images/feed-icon-28x28.png"), :width=>"16", :height=>"16"}
  
.row-fluid
  .span12    
    .center
      Looking for older posts ? See the 
      %a{:href=>"https://community.jboss.org/en/tools/blog"} Archived entries.
