---
layout: default_layout
tab: features
title: Features Overview
---

- features = site.features.sort{|l,r| l.order <=> r.order}
- highlighted_feature = features.shift

-# show first feature with a highlight
.row-fluid 
  .span12.hero-unit
    %img{:src=>"#{site.base_url}/#{highlighted_feature.image_url}", :alt=>"#{highlighted_feature.title}"}
    .content
      %h1< #{highlighted_feature.title}
      %h2< #{highlighted_feature.tagline}
      %p #{highlighted_feature.summary}
    
-# show all other features
- while features.size > 0 do
  .row-fluid.features
    .span12
      %hr
  .row-fluid.features
    - i = 0
    - limit = [features.size, 4].min
    - puts " Treating #{limit} features..."
    - while i < limit do 
      - i +=1
      - feature = features.shift
      .span3
        %a{:href=>feature.url} 
          %h4.center< #{feature.title}
          %h6.center< #{feature.tagline}
          %img{:src=>"#{site.base_url}/#{feature.image_url}", :alt=>"#{feature.title}", :width=>"128px"}
            
   
  
  

