---
layout: project
tab: features
title: Features
---
.row-fluid
  .hero-unit.center
    %h1 Features
    %p Main features of #{site.products[:jbt_core].name} and #{site.products[:jbt_is].name} (*)
  
- site.features.each do |product_id, features|
  -# show all other features
  - f = Array.new() + features
  - while f.size > 0 do
    .row-fluid.features.flexbox.stretch-row
    
      - i = 0
      - limit = [f.size, 4].min
      - while i < limit do
        - i += 1
        - feature = f.shift
        %a.span3{:href=>relative(feature.url) }
          .flexbox.stretch-column.center.well
            .title
              %h3.center< #{feature.name}
            .body
              %img{:src=>relative(feature.image_url), :alt=>"#{feature.name}"}
            .footer
              %h4.center< #{feature.tagline}
         

.hero-unit.center
  %p * Not all features are installed by default. You can install these from JBoss Central or their update site. 

