---
layout: project
tab: features
title: Features
---
.row-fluid
  .hero-unit.center
    %h1 Features
    %p Main features of #{site.products[:jbt_core].name} and #{site.products[:jbt_is].name}
    %hr
    
- site.features.each do |product_id, features|
  -# show all other features
  - f = Array.new() + features
  - while f.size > 0 do
    .row-fluid.features
      - i = 0
      - limit = [f.size, 4].min
      - while i < limit do
        - i += 1
        - feature = f.shift
        %section.span3.well
          %a{:href=>relative(feature.url) }
            %h3.center< #{feature.name}
            %h4.center< #{feature.tagline}
            %img{:src=>relative(feature.image_url), :alt=>"#{feature.name}", :width=>"128px"}






