---
layout: project
tab: docs
title: Features
---

- features = site.features.values.sort{|l,r| l.order <=> r.order}
- highlighted_feature = features.shift

-# show first feature with a highlight
.row-fluid 
  .span12.hero-unit
    %img{:src=>highlighted_feature.image_url, :alt=>"#{highlighted_feature.title}"}
    .content
      %h1< 
        %a{:href=> highlighted_feature.url } #{highlighted_feature.title}
      %h2< 
        %a{:href=> highlighted_feature.url } #{highlighted_feature.tagline}
      %p #{highlighted_feature.summary}
    
-# show all other features
- while features.size > 0 do
  .row-fluid.features
    .span12
      %hr
  .row-fluid.features
    - i = 0
    - limit = [features.size, 4].min
    - while i < limit do 
      - i +=1
      - feature = features.shift
      %section.span3
        %a{:href=> feature.url }
          %h3.center< #{feature.title}
          %h4.center< #{feature.tagline}
          %img{:src=> feature.image_url, :alt=>"#{feature.title}", :width=>"128px"}
            
   
  
  

