!!!5
%html 
  %head
    %meta{ :charset=>'utf-8' } 
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    
    %link{ :rel=>"icon", :type=>"image/png", :href=>"#{site.base_url}/images/nav/jbosstools_icon16.png"}

    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' } 

    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/bootstrap.css", :media=>"screen, projection"}
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/bootstrap-responsive.css", :media=>"screen, projection"}
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/buttons.js" }
    
    -# custom page css
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/jbt-styles.css" }
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/jbt-styles-wide.css", :media=>"only screen and (min-width: 1200px)"}
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/jbt-styles-small.css", :media=>"only screen and (max-width: 980px)"}
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/font-awesome.css", :media=>"screen, projection"}
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
   
  %body
    <!--#if expr='1<0' -->
    .navbar.navbar-static-top
      .container
        #logo
          %img{:src=>"#{site.base_url}/images/nav/tools-banner-1180px.jpg"}
        %a.btn.btn-navbar{:"data-toggle"=>"collapse",:"data-target"=>".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-collapse.collapse
          %ul.nav
            %li
              %a{:href=>"#{site.base_url}"}< Home
            %li.active
              %a{:href=>"##{site.base_url}/features"}< Features
            %li
              %a{:href=>"##{site.base_url}/guides"}< Guides
        
  
    .container
      ~content
      %br
      %hr
      %footer
        Sponsored by Red Hat

