---
layout: project
tab: blog
---
- if page.draft_article
  .row-fluid
    .span12
      .alert.alert-danger
        %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;
        %strong Warning!
        This article is a draft. It will be published on first build after
        %strong #{page.date.strftime("%b. %d, %Y")}
  
.row-fluid
  .span9#core-page.well.post-bg
    .post
      .header.flexbox.row-start
        .polaroid
          %a{:href=>site.team[page.author].developer_page}
            %img.img-polaroid{:src => "#{site.team[page.author].photo_64px}", :width=>64, :height=>64}
        .title
          %h3
            %span 
              = page.title
          .author
            /there is only one author per post but the author splitter adds an array here
            posted by 
            %a{:href=>site.team[page.author].developer_page}
              %strong #{site.team[page.author].title}
            on 
            %strong #{page.date.strftime( '%b %d, %Y' )}.
            %a{:href=>"https://github.com/jbosstools/jbosstools-website/edit/master#{page.relative_source_path}"}
              %i.icon-edit
            %a{:href=>"https://github.com/jbosstools/jbosstools-website/commits/master#{page.relative_source_path}"}
              %i.icon-github
            %p
              - if(page.tags != nil && !page.tags.empty?)
                - page.tags.each do |tag|
                  - if (tag != nil && tag.kind_of?(String))
                    -# edge case, when the current post is a draft and uses a new tag
                    %a.label.label-info #{tag}
                  - elsif !tag.nil?
                    %a.label.label-info{:href=>relative("#{tag.primary_page.url}")} #{tag}
              %span.comments
                %i.icon-comments
                =page.disqus_comments_link 
                #{page.disqus_comments_count} 
              
         
      .body
        ~content
        
      .navigation
        .row-fluid
          .span4.previous
            - if page.previous_post
              %a.btn.btn-primary.btn-small{:href=>relative("#{page.previous_post.url}")} &laquo; #{page.previous_post.title}
          .span4.center
            %a.btn.btn-primary.btn-small{:href=>relative("/blog")} See all articles
          .span4.next
            - if !page.next_post.nil? && (page.next_post.date < Date.today.next_day || site.profile == "development")
              %a.btn.btn-primary.btn-small{:href=>relative("#{page.next_post.url}")} #{page.next_post.title} &raquo;
              
      .comments
        #{page.disqus_comments}

  .span3.well
    %header
      %h3
        %a{:href => relative("/blog")} Latest posts
        %a{:href=>relative("/blog/news.atom")}
          %img#rss-icon{:src=>relative("/images/feed-icon-28x28.png"), :width=>"20px"}
        
    .latest-posts
      - posts = site.posts.sort{|l,r| r.date <=> l.date}.first(5)
      - for post in posts
        .header
          %img.visible-desktop.img-polaroid{:src => "#{site.team[post.author].photo_32px}"}
          .title
            %h4
              %a{:href=>relative(post.url)}= post.title
              - if post.draft_article
                %span{:class=>"label label-important"}
                  DRAFT
            .author
              /there is only one author per post but the author splitter adds an array here
              by
              %strong< #{site.team[post.author].title}
              on
              %strong< #{post.date.strftime( '%b %d, %Y' )}.
    %hr
    .footer
      %h4
        %a{:href => relative("/blog/all.html")} All posts
        
.row-fluid
  .span12    
    .center
      Looking for older articles ? See the 
      %a{:href=>"https://community.jboss.org/en/tools/blog"}< Archived entries.
