---
layout: default
tab: blog
---
%ul.pager
  - if page.previous_post
    %li.previous
      %a{:href=>page.previous_post.url}
        &larr; 
        - text = page.previous_post.title
        - if text && text.size < 25
          = text
        - else
          - if text
            = text.split(//).first(25).join() << "..."
          - else
            = "text blank!" << page.previous_post.date.strftime( '%Y-%m-%d' )
  - if page.next_post
    %li.next
      %a{:href=>page.next_post.url}
        - text = page.next_post.title
        - if text && text.size < 25
          = text
        - else
          - if text
            = text.split(//).first(25).join() << "..."
          - else
            = "text blank!" << "..."
        &rarr;
  
%hr
.blogpost
  %h2
    = page.title
  .blogtagbar
    -# #{page.date.strftime( '%Y-%m-%d' )}
    &nbsp;|&nbsp;
    = page.flattr_compact_counter(:url=>"http://blog.xam.dk" + page.url, 
                                  :title=>page.title, 
                                  :tags=>page.tags.join(',')) 
    &nbsp;|&nbsp;
    - page.tags.each do |tag|
      -# %a.label{:href=>tag.primary_page.url}
        = tag
      &nbsp;
  %p
    ~ content
  .disqus-long
    = page.disqus_comments
  %hr
