---
layout: project
tab: blog
---
- if page.draft_article
  .row-fluid
    .span12
      .alert.alert-danger
        %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;
        %strong Warning!
        This article is a draft. It will be published on first build after
        %strong #{page.date.strftime("%b. %d, %Y")}
  
.row-fluid
  .span12#core-page
    .post
      .title-wrapper
        %img.img-polaroid{:src => "#{site.team[page.author].photo_64px}"}
        .title.border
          %h3
            %span 
              = page.title
            %a{:href => relative("/blog/news.atom")}
              %img#rss-icon{:src=>relative("/images/feed-icon-28x28.png")}
          .author
            /there is only one author per post but the author splitter adds an array here
            posted by 
            %strong #{site.team[page.author].name}
            on 
            %strong #{page.date.strftime( '%b %d, %Y' )}.
            %p
              - if(page.tags != null && !page.tags.empty?) 
                - page.tags.each do |tag|
                  - if tag.kind_of? String 
                    -# edge case, when the current post is a draft and uses a new tag
                    %a.label.label-info{} #{tag}
                  - else
                    %a.label.label-info{:href=>relative("#{tag.primary_page.url}")} #{tag}
              %span.comments
                %i.icon-comments
                =page.disqus_comments_link 
                #{page.disqus_comments_count} 
         
      .body
        #{content}
        
      .navigation
        %hr
        .row-fluid
          .span4.previous
            - if page.previous_post
              %a.btn.btn-primary.btn-small{:href=>relative("#{page.previous_post.url}")} &laquo; #{page.previous_post.title}
          .span4.center
            %a.btn.btn-primary.btn-small{:href=>relative("/blog")} See all articles
          .span4.next
            - if page.next_post
              %a.btn.btn-primary.btn-small{:href=>relative("#{page.next_post.url}")} #{page.next_post.title} &raquo;
              
      .comments
        #{page.disqus_comments}
        
.row-fluid
  .span12    
    %hr
      .center
        Looking for older articles ? See the 
        %a{:href=>"https://community.jboss.org/en/tools/blog"}< Archived entries.