---
layout: project
tab: downloads
---
.row-fluid
  .hero-unit.hidden-phone.center
    %h1 Downloads
    %p Latest versions of #{site.products[page.product_id].name} for #{page.eclipse_version.full_name}
      
#sections.row-fluid
  - for build_type in [:stable, :development, :nightly] do
    %section.span4
      - product_version = page.build_versions[build_type]
      - if !product_version.nil?
        %header
          %h3 
            Version #{product_version}
            %span{:class=>"label label_#{build_type.to_s}"}
              #{site.labels[build_type]}
        %footer.center
          - download_page = site.download_pages[page.product_id][product_version]
          %a.btn.btn-primary{:href => relative(download_page.output_path)} 
            %i.icon-download
            Download
        
      - else
        %header
          %h3 #{build_type.to_s.capitalize} Build
        %item
          :markdown
            Sorry, but there is no **#{build_type.capitalize}** build of #{site.products[page.product_id].name} on 
            #{page.eclipse_version.full_name} at the moment.

  
.row-fluid
  .span12    
    %hr
      .center
        Looking for another version ? See the 
        %a{:href=>relative("/downloads/overview.html")}< overview of all downloadable versions.
