---
layout: default
tab: downloads
---
.container-fluid
  
  .row-fluid
<<<<<<< HEAD:_layouts/download_jbds.html.haml
    .span3.well
      %ul.nav.nav-list
        %li.nav-header< Latest Stable Releases
        %li.divider
        %li.nav-header< Development Releases
        %li.divider    
        %li.nav-header< Older Releases
    .span9
      %h3.center< #{page.product.name} #{page.product.version}
      .center
        %a{:href=>"#requirements-modal", :"data-toggle"=>"modal"} Requirements
        %span &#124; 
        %a{:href=>"#{site.base_url}/whatsnew/"} What's New
=======
    .span12
      %h3.center< Downloading #{page.product.name} #{page.product.version}
  .row-fluid
    .span8
      %a{:href=>"#requirements-modal", :"data-toggle"=>"modal"} Requirements
      %span &#124; 
      %a{:href=>relative("/whatsnew/")} What's New
      %span &#124; 
      %a{:href=>"https://issues.jboss.org/browse/JBIDE/fixforversion/12321256", :target=>"blank"} Release Note
    .span4.right
      - if page.dev_pages? && !page.dev_pages.empty?
        %a{:href=>"#"} Try latest developments
>>>>>>> 80ef7d3181afb4a866c349cbc9ddbf381be883c0:_layouts/download.html.haml
        %span &#124; 
        %a{:href=>"https://issues.jboss.org/browse/JBIDE/fixforversion/12321256", :target=>"blank"} Release Note
      #release_info
        - if page.product.status == 'stable_build'
          %p
            #{page.product.name} #{page.product.version} was released on #{page.product.release_date}. 
            - if page.product.blog_announcement_url?
              Read the
              %a{:href=>page.product.blog_announcement_url} announcement on our blog
              to know more about it.
      
        - if page.product.status == 'development_build'
          .span12
            .alert
              %strong Development builds
              are have received basic testing, but are not considered fully stable yet.
        - if page.product.status == 'nightly_build'
          .span12
            .alert
              %strong Warning! 
              Installing 
              %strong nightly builds
              might result in black holes being created !
          
          
      #installation.tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{:href=>"#product-marketplace", :"data-toggle" => "tab"}
              Eclipse Marketplace
          %li
            %a{:href=>"#product-updatesite", :"data-toggle" => "tab"}
              Update Site
          %li
            %a{:href=>"#product-downloads", :"data-toggle" => "tab"}
              Zipped Update Site
          
      -# Tab content
      #installation-tabs.tab-content
        #product-marketplace.tab-pane.fade.in.active
          - if page.product.marketplace_install_url?
            -# use markdown or asciidoc instead 
            %p
              Drag and drop the 
              %a{:href=>page.product.marketplace_install_url, :title=>"Install"}
                %img{:src=>relative("/images/tools/installbutton.png"), :alt=>"Drag and drop this button into a running #{eclipse_name} workspace to install #{page.product.name}", :height=>"25", :width=>"63"}
              icon on your active
              %strong< #{page.product.eclipse_version.full_name} 
              workspace, or alternatively, search for &quot;
              %strong> #{page.product.name} (#{page.product.eclipse_version.short_name})
              &quot; in Eclipse via:
              %blockquote 
                Help > Eclipse Marketplace...
            %p
              You can also view the installation page on the&nbsp
              %a{:href=>page.product.marketplace_url, :title=>"Eclipse Marketplace"}> Eclipse Marketplace
              \.
          - else
            :markdown
              Sorry, there is no Eclipse Marketplace for #{page.product.name} #{page.product.version} yet.
              
        #product-updatesite.tab-pane.fade.in
          - if page.product.update_site_url?
            :markdown
              Add the following URL to your **#{page.product.eclipse_version.full_name}** workspace: [#{page.product.update_site_url}](#{page.product.update_site_url})
              via 

              > Help > Install New Software...
            
              then select the individual features that you want to install.
          - else
            :markdown
              Sorry, there is no Update Site for #{page.product.name} #{page.product.version} yet.
        #product-downloads.tab-pane.fade.in
          - if page.product.zips? && !page.product.zips.empty? 
            :markdown
              You can download Update Zips (Archived p2 Repos) for offline installation of **#{page.product.name}**, but **DO NOT UNPACK THEM** into your Eclipse root or dropins folder!
              Next, install into Eclipse using

              > Help > Install New Software... > Add... > Archive...
          
              and point to the archive you downloaded from the tables below, depending on the features of JBoss Tools you want to use.
        
            %table.center
              %tr
                %th<Name
                %th<Size
                %th<Links
              - page.product.zips.each do |zip|
                %tr
                  %td #{zip.name}  
                  %td.right #{zip.download_size}              
                  %td 
                    - if zip.url.end_with? "zip"
                      %a{:href=>zip.url} zip
                    - if zip.url.end_with? "html"
                      %a{:href=>zip.url} html
                    - if zip.md5_url?
                      (
                      %a{:href=>zip.md5_url}> md5
                      )
          - else
            :markdown
              Sorry, there is no downloadabe Update Site for offline installation for #{page.product.name} #{page.product.version} yet. 
                    
-# modal dialog to display requirements
#requirements-modal.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
  .modal-header
    %button.close{:type=>"button", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"} x
    %h3#myModalLabel #{page.product.name} #{page.product.version} Requirements
  .modal-body
    %p 
      #{page.product.name} #{page.product.version} runs on Windows, MacOSX and Linux and requires 
      %a{:href=>page.product.eclipse_download}
        #{page.product.eclipse_version.full_name}.
  .modal-footer
    %button.btn{:"data-dismiss"=>"modal", :"aria-hidden"=>"true"} Close
    
-# Placed at the end of the document so the pages load faster
:javascript
  $('a[data-toggle=tab]').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  