---
layout: project
tab: downloads
---
- product_name = site.products[page.product_id].name

.row-fluid
  .hero-unit.hidden-phone.center
    %h1 Downloads
    %p Latest versions of #{product_name} 
      
#sections.row-fluid
  %section.span4
    - download_page = page.build_versions[:stable]
    - if !download_page.nil?
      %header
        %h3 
          Version #{download_page.build_info.version}
          - unless download_page.build_info.build_type_label.nil?
            %span{:class=>"label label_#{download_page.build_info.build_type_label}"}
              #{site.labels[download_page.build_info.build_type_label]}
        %h4
          for #{download_page.build_info.eclipse_version.full_name}
      .item.center
        %a.btn.btn-primary{:href => relative(download_page.output_path)} 
          %i.icon-download
          Download
    - else
      :markdown
        Sorry, there is no **stable** build of #{site.products[page.product_id].name} at the moment.

  %section.span4
    - download_page = page.build_versions[:development]
    - if !download_page.nil?
      %header
        %h3 
          Version #{download_page.build_info.version}
          - unless download_page.build_info.build_type_label.nil?
            %span{:class=>"label label_#{download_page.build_info.build_type_label}"}
              #{site.labels[download_page.build_info.build_type_label]}
        %h4
          for #{download_page.build_info.eclipse_version.full_name}
      .item.center
        %a.btn.btn-primary{:href => relative(download_page.output_path)} 
          %i.icon-download
          Download
    - else
      :markdown
        Sorry, there is no **development** build of #{site.products[page.product_id].name} at the moment.
  %section.span4
    - download_page = page.build_versions[:nightly]
    - if !download_page.nil?
      %header
        %h3
          Version #{download_page.build_info.version}
          - unless download_page.build_info.build_type_label.nil?
            %span{:class=>"label label_#{download_page.build_info.build_type_label}"}
              #{site.labels[download_page.build_info.build_type_label]}
        %h4
          for #{download_page.build_info.eclipse_version.full_name}
      .item.center
        %a.btn.btn-primary{:href => relative(download_page.output_path)} 
          %i.icon-download
          Download
    - else
      :markdown
        Sorry, there is no **nightly** build of #{site.products[page.product_id].name} at the moment.
.row-fluid
  .span12    
    %hr
      .center
        Looking for another version ? See the 
        %a{:href=>relative("/downloads/overview.html")}< overview of all downloadable versions.
