---
layout: default
tab: downloads
---
= breadcrumb(page.output_path)

- labels = {:stable_releases=>"Stable", :development_builds=>"Development", :nightly_builds=>"Nightly", :archives=>"Archive"}

.row-fluid
  .span12.center
    %h2 Download #{site.products[:jbt_core].name}
.row-fluid.tabbable
  .span3#downloads-menu
    %ul.nav.nav-list{:id=>"downloadable_versions_tabs"}
      - labels.each_key do |key|
        - unless site.downloadable_builds[:jbt_core][key].empty?
          - site.downloadable_builds[:jbt_core][key].each do |build|
            %li{:id=>"#{build.id}_installation_tab"}
              %a{:href=>"##{build.id}_installation", :"data-toggle" => "tab"}
                %span
                  Version #{build.version}
                %span{:class=>"label label-#{key}"}
                  #{labels[key]}
                %i.icon-chevron-right
    
  .span9.tab-content.download-instructions
    - labels.each_key do |key|
      - unless site.downloadable_builds[:jbt_core][key].empty?
        - site.downloadable_builds[:jbt_core][key].each do |build|
          .tab-pane{:id=>"#{build.id}_installation"}
            - if key == :stable_releases
              %p
                #{site.products[:jbt_core].name} #{build.version} was released on #{build.release_date}. 
                - if build.blog_announcement_url
                  Read the
                  %a{:href=>build.blog_announcement_url} announcement on our blog
                  to know more about it.
  
            - if key == :development_builds
              .alert
                %strong Development builds
                are have received basic testing, but are not considered fully stable yet.
            - if key == :nightly_builds
              .alert
                %strong Warning! 
                Installing 
                %strong nightly builds
                might result in black holes being created !
          
            #installation-tabs.tabbable
              %ul.nav.nav-tabs{:id=>"#{build.id}_tabs"}
                %li{:id=>"#{build.id}_marketplace_tab"}
                  %a{:href=>"##{build.id}_marketplace", :"data-toggle"=>"tab"}
                    Eclipse Marketplace
                %li{:id=>"#{build.id}_updatesite_tab"}
                  %a{:href=>"##{build.id}_updatesite", :"data-toggle"=>"tab"}
                    Update Site
                %li{:id=>"#{build.id}_zips_tab"}
                  %a{:href=>"##{build.id}_zips", :"data-toggle"=>"tab"}
                    Downloadable zips of the Update site
            #installation-tabs-content.tab-content     
              - unless build.marketplace_install_url.nil? 
                -# use markdown or asciidoc instead 
                .tab-pane{:id=>"#{build.id}_marketplace"}
                  %p
                    Drag and drop the 
                    %a{:href=>build.marketplace_install_url, :title=>"Install"}
                      %img{:src=>"#{site.base_url}/images/tools/installbutton.png", :alt=>"Drag and drop this button into a running #{eclipse_name} workspace to install #{build.name}", :height=>"25", :width=>"63"}
                    icon on your active
                    %strong< #{build.eclipse_version.full_name} 
                    workspace, or alternatively, search for &quot;
                    %strong> #{build.name} (#{build.eclipse_version.short_name})
                    &quot; in Eclipse via:
                    %blockquote 
                      Help > Eclipse Marketplace...
                  %p
                    You can also view the installation page on the&nbsp
                    %a{:href=>build.marketplace_url, :title=>"Eclipse Marketplace"}> Eclipse Marketplace
                    \.
              
              -# Update site
              - unless build.update_site_url.nil?
                .tab-pane{:id=>"#{build.id}_updatesite"}
                  :markdown
                    Add the following URL to your **#{build.eclipse_version.full_name}** workspace: [#{build.update_site_url}](#{build.update_site_url})
                    via 

                    > Help > Install New Software...
  
                    then select the individual features that you want to install.
              
              -# downloadable zips
              - unless build.zips.nil?
                .tab-pane{:id=>"#{build.id}_zips"}
                  :markdown
                    You can download Update Zips (Archived p2 Repos) for offline installation of **#{build.name}**, but **DO NOT UNPACK THEM** into your Eclipse root or dropins folder!
                    Next, install into Eclipse using

                    > Help > Install New Software... > Add... > Archive...

                    and point to the archive you downloaded from the tables below, depending on the features of JBoss Tools you want to use.

                  %table.center
                    %tr
                      %th<Name
                      %th<Size
                      %th<Links
                    - build.zips.each do |zip|
                      %tr
                        %td #{zip.name}  
                        %td.right #{zip.download_size}              
                        %td 
                          - if zip.url.end_with? "zip"
                            %a{:href=>zip.url} zip
                          - if zip.url.end_with? "html"
                            %a{:href=>zip.url} html
                          - if zip.md5_url?
                            (
                            %a{:href=>zip.md5_url}> md5
                            )
            
-# modal dialog to display requirements
-#
  #requirements-modal.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
    .modal-header
      %button.close{:type=>"button", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"} x
      %h3#myModalLabel #{build.name} #{build.version} Requirements
    .modal-body
      %p 
        #{build.name} #{build.version} runs on Windows, MacOSX and Linux and requires 
        %a{:href=>build.eclipse_download}
          #{build.eclipse_version.full_name}.
    .modal-footer
      %button.btn{:"data-dismiss"=>"modal", :"aria-hidden"=>"true"} Close
    
-# Placed at the end of the document so the pages load faster
:javascript
  $(document).ready(function () {
    #{init_download_tab_states(:jbt_core)}
    $('a[data-toggle=tab]').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });
  
  

  