---
layout: project
tab: downloads
---
= breadcrumb(page.output_path)

- labels = {:stable=>"Stable Release", :development=>"Development", :nightly=>"Nightly Build"}
.row-fluid
  .span
    .well
      %ul.nav.nav-list
        -# puts site.download_perma_links[page.product].to_s
        - site.download_pages[page.product].each do |eclipse_builds| 
          %li.nav-header 
            - puts " " + eclipse_id.to_s
            -# eclipse_id is an array: ["luna", AStruct<{...}>]
            #{site.products[:eclipse][eclipse_builds[0]].full_name}
          - eclipse_builds[1].each do |download_page|
            %li{:class=>("active" if download_page.build_info == page.build_info)}
              %a{:href=>"#{site.base_url}#{download_page.output_path}"}
                %span
                  #{download_page.build_info.version}
                %span{:class=>"label label_#{build_type} float-right"}
                  #{labels[build_type]}
        %li.divider          
