---
layout: base_layout
tab: features
---
.container-fluid
  .row-fluid.menu-level2
    .span4.offset8.feature-menu
      %ul
        %li<
          %h4< Overview
        %li<
          %h4< What's New
  - features = page.features != nil ? page.features : Array.[]
  - if features.size > 0
    - feature = features[0] 
    .row-fluid
      .span12.hero-unit
        %img{:src => "#{site.base_url}/" + "#{feature.image_url}"}
        .content
          %h1< #{feature.title}
          %h3< #{feature.subtitle}
          %p< #{feature.description}      
  - features.each_with_index do |feature, index|
    - if index > 0
      .row-fluid.feature
        .span12
          %img{:src => "#{site.base_url}/" + "#{feature.image_url}"}
          .content
            %h2< #{feature.title}
            %h4< #{feature.subtitle}
            %p< #{feature.description}      
                
