---
layout: project
title: Project Navigation
style: community
---
/ =========================Masthead=========================
.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container(style="width: auto;")
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          %li#home<
            %a(href="#{site.url}/") Home
          %li#downloads<
            %a(href="#{site.url}/downloads/") Downloads
          %li#features<
            %a(href="#{site.url}/features/") Features
          %li#guides<
            %a(href="#{site.url}/guides/") Guides
          %li#blog<
            %a(href="#{site.url}/blog/") Blog
          %li#community.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              =precede 'Community ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="#") Wiki
              %li<
                %a(href="#") User Forum
              %li<
                %a(href="#") Mailing Lists
              %li<
                %a(href="#") Chat
              %li<
                %a(href="#") Blog
          %li#issuetracker<
            %a(href="issues.html") Issue Tracker
          %li#sourcecode<
            %a(href="source.html") Source Code
          %li#build<
            %a(href="build.html") Build
          %li#social.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              =precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu{ :style => "min-width: 40px;" }
              %li<
                %a(href="#"){ :style => "padding: 3px 10px;" }<
                  %img(src="#{site.img_url}/common/socialicons_twitter.png")
              %li<
                %a(href="#"){ :style => "padding: 3px 10px;" }<
                  %img(src="#{site.img_url}/common/socialicons_googleplus.png")
              %li<
                %a(href="#"){ :style => "padding: 3px 10px;" }<
                  %img(src="#{site.img_url}/common/socialicons_facebook.png")
          %li.divider
          / activate the tab by adding the 'active' class 
          / - if page.tab != nil
          /  :javascript
          /    tab = page.tab
          

        %ul.nav.pull-right
          %li
            %form.navbar-search
              %input.search-query(type="text" placeholder="Search" style="width: 45px;")

~ content
