!!! 5
%html(lang="en")
  %head
    %title #{site.title} #{page.title ? (" - " + page.title): ""}
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="#{page.description}")
    %meta(name="author" content="#{page.author}")
    %meta(http-equiv="Last-Modified" content="#{site.buildTime}")

    - pageStyle = page.style ;
    %link(href="#{pageStyle ? site[pageStyle].bootstrap_css_url : site.bootstrap_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
    / IE 6-8 support of HTML 5 elements
    /[if lt IE 9]
      %script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

    / Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

    %link(rel="shortcut icon" href="#{site.project_images_url}/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" href="#{site.project_images_url}/apple-touch-icon-precomposed.png")

    %link{ :rel=>'stylesheet', :type=>"text/css", :href=>relative("/stylesheets/jbt-styles#{site.minified}.css") }
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>relative("/fonts/font-awesome/font-awesome#{site.minified}.css"), :media=>"screen, projection"}
    
    -# RSS feeds
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>relative("/blog/news.atom")}
    / Defines the project banner, using variables (cannot be done in .scss)
  
    :css
      @media (min-width: 401px) {
        .banner { 
          background-image: url(#{site.project_images_url}/tools-banner-1180px.png); 
          background-repeat:no-repeat; 
          height: 110px;  
        }
      }
      @media (max-width: 400px) {
        .banner { 
          background-image: url(#{site.project_images_url}/tools_200x150.png); 
          background-size: 133px 100px; 
          background-repeat:no-repeat; 
          height: 110px;  
        }
      }
  
  %body
    - if site["showwip"] 
      = partial( 'underdevelopment.html.haml', { :parent => page } )
    / begin accessibility skip to top
    %ul#top.visuallyhidden
      %li
        %a{:accesskey => "n", :href=>"#nav", :title => "Skip to navigation"} Skip to navigation
      %li
        %a{:accesskey => "c", :href=>"#page", :title => "Skip to content"} Skip to content
    .container#content

      .dropup
        %div#ajbossproject A JBoss Project
        %a#tab.tabnav-closed{:href=>"https://www.jboss.org"} Red Hat
        %script
          window.addEventListener('load', function() { renderTabzilla("#{site.project_name}","#{site.project}" , false ) }, false);

      - if page.subproject
        = partial( page.navparent_partial.nil? ? 'navparent.html.haml' : page.navparent_partial , { "real_page" => page } )

      /
        = partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial , { "real_page" => page } )
      .banner
        %a{:href=>"#{site.base_url}"}<
      
      .navbar.navbar-inverse.navbar-fix#sticky-navbar
        .navbar-inner
          .container#main-container
            %a.btn.btn-navbar{:"data-toggle"=>"collapse", :"data-target"=>".nav-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav
                %li#home<
                  %a{:href=>relative("/")} Home
          
                %li#downloads<
                  %a{:href=>relative("/downloads/")} Downloads
          
                %li#features<
                  %a{:href=>relative("/features/")} Features
                  
                %li#blog<
                  %a{:href=>relative("/blog/")} Blog
  
                %li#docs<
                  %a{:href=>relative("/documentation/")} Documentation
                
                %li#community<
                  %a{:href=>relative("/community")} Community
                
                %li#getinvolved<
                  %a{:href=>relative("/getinvolved")} Get Involved
                
                %li.dropdown
                  %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}<
                    = precede 'Follow Us ' do
                      %b.caret>
                  %ul.dropdown-menu.projectsocialmedia
                    %li<
                      %a{:href=>"http://twitter.com/jbosstools"}<
                        %img{:src=>"#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png", :width=>40, :height=>40}
                    %li<
                      %a{:href=>"https://plus.google.com/109915195368578219327"}<
                        %img{src=>"#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png", :width=>40, :height=>40}



      

      / activate the tab by adding the 'active' class 
      - unless page.nav_partial.nil? && page.tab.nil?
        :javascript
          document.getElementById("#{page.tab}").className += " active";
      #content-wrapper
        - unless page.output_path == '/'
          = breadcrumb(page.output_path)
        ~ content

    %footer.container
      .row-fluid
        .span2.offset1
          %h4 Navigate
          %ul
            %li
              %a{:href=>relative("/"), :title => "Home"} Home
            %li
              %a{:href=>relative("/downloads"), :title => "Downloads"} Downloads
            %li
              %a{:href=>relative("/features"), :title => "Features"} Features
            %li
              %a{:href=>relative("/blog"), :title => "Features"} Blog
            %li
              %a{:href=>relative("/community"), :title => "Community"} Community
            %li
              %a{:href=>relative("/getinvolved"), :title => "Get Involved"} Get Involved
            %li
              %a{:href=>relative("/usage"), :title => "Usage"} Usage
        
        .span2
          %h4 Docs
          %ul
            %li
              %a{:href=>relative("/documentation/whatsnew")} What's New
            %li
              %a{:href=>relative("/documentation/faq")} FAQ
            %li
              %a{:href=>relative("/documentation/videos")} Video Tutorials
            %li
              %a{:href=>relative("http://docs.jboss.org/tools")} Reference Guides
          
        .span2
          %h4 Follow Us
          %ul
            %li
              %a{:href=>"http://twitter.com/jbosstools", :title => "Twitter"} Twitter
            %li
              %a{:href=>"https://plus.google.com/+jbosstools", :title => "Google+"} Google+
          %h4 Contribute
          %ul
            %li
              %a{:href=>"https://issues.jboss.org/browse/JBIDE", :title => "Submit a bug"} Submit a bug
            %li
              %a{:href=>"https://github.com/jbosstools", :title => "Write code"} Write Code
            %li
              %a{:href=>"http://community.jboss.org/community/tools?view=discussions", :title => "Ask questions on the forum"} Ask questions on the forum
            %li
              %a{:href=>"irc://irc.freenode.org/jbosstools", :title => "Talk on IRC"} Talk with us on IRC
        .span3.offset1
          %h4 Licenses
          %p Most plugins are available under the Eclipse Public License (EPL) others Lesser General Public License (LGPL). 
          %p They may also contain some libraries licensed under certain open source licenses such as ASL, BSD, and/or certain other open source licenses.
    
    = partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial , { "real_page" => page } )

    %span.backToTop
      %a{:href=>"#top"} back to top


    %script(src="#{site.jborg_js_url}/libs/jquery/jquery-1.9.1#{site.minified}.js")
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
    %script{:src=>"#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js"}
    %script{:src=>relative("/javascripts/application#{site.minified}.js")}
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>relative(javascript), :type=>'text/javascript'}

    :plain
      <!-- begin eloqua tracking -->
      <script type='text/javascript' language='JavaScript' src='http://www.redhat.com/j/elqNow/elqCfg.js'></script>
      <script type='text/javascript' language='JavaScript' src='http://www.redhat.com/j/elqNow/elqImg.js'></script>
      <!-- end eloqua tracking -->

      <div id="oTags">
        <script type="text/javascript" src="//www.redhat.com/j/s_code.js"></script>
        <script type="text/javascript"><!--
        var coreUrl = encodeURI(document.URL.split("?")[0]).replace(/-/g," ");
        var urlSplit = coreUrl.toLowerCase().split(/\//);
        var urlLast = urlSplit[urlSplit.length-1];
        var pageNameString = "";
        var siteName = "";
        var minorSectionIndex = 3
        if (urlLast == "") {
            urlSplit.splice(-1,1);
        }
        if (urlLast.search(/\./) >= 0) {
            if (urlLast == "index.html") {
                urlSplit.splice(-1,1);
            }
            else {
                urlSplit[urlSplit.length-1] = urlLast.split(".").splice(0,1);
            }
        }
        siteName = urlSplit[2].split(".")[1];
        s.prop14 = s.eVar27 = siteName || "";
        s.prop15 = s.eVar28 = urlSplit[minorSectionIndex] || "";
        s.prop16 = s.eVar29 = urlSplit[minorSectionIndex+1] || "";
        pageNameString = urlSplit.splice(3).join(" | ");
        s.pageName = "jboss | community | " + siteName + " | " + pageNameString;
        s.server = "jboss";
        s.channel = "jboss | community";
        s.prop4 = s.eVar23 = encodeURI(document.URL);
        s.prop21 = s.eVar18 = coreUrl;
        s.prop2 = s.eVar22 = "en";
        s.prop3 = s.eVar19 = "us";
        //--></script>
        <script type="text/javascript" src="//www.redhat.com/j/rh_omni_footer.js"></script>
        <script language="JavaScript" type="text/javascript"><!--
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        //--></script>
        <noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="https://smtrcs.redhat.com/b/ss/redhatcom,redhatglobal/1/H.25.4--NS/0?[AQB]&cdp=3&[AQE]"
        height="1" width="1" border="0" alt="" /></a></noscript>
      </div>
      <!-- End oTags -->

    - if site.google_analytics
      = google_analytics_async
