---
layout: project
tab: docs
---
-# What's New for a given minor version of all components (eg all N&N for 4.1.1.CR1). 
-# Includes left side navigation.

- page.title = "What's New in JBoss Tools #{page.version}"
.row-fluid.whatsnew
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      -# sorting versions in reverse order
      - versions = site.whatsnew_minor_pages.keys.sort{|x,y| y <=> x}
      - versions.each do |version|
        %li.version{:class=>("expanded" if version == page.version)}
          %a{:href=>site.whatsnew_minor_pages[version].output_path} #{version}
          - if version == page.version
            %ul.nav.nav-list.nested.components
              - page.individual_pages.each do |individual_page|
                %li.component
                  %a{:href=>"##{individual_page.feature_id}"} #{individual_page.feature_name}

    :javascript
      $('%ul.components > li:first').addClass('active');
      
  .span9#whatsnew
    - default_imagesdir = site.asciidoctor.attributes['imagesdir']
    - page.individual_pages.each do |individual_page|
      - site.asciidoctor.attributes['imagesdir'] = relative(Pathname.new(individual_page.output_path).parent.to_s)
      %div{:id=>individual_page.feature_id}
        %h1 #{individual_page.feature_name}
        #{individual_page.content}
      %hr
    - site.asciidoctor.attributes['imagesdir'] = default_imagesdir
    
:javascript
  $(function(){
    // sidebar Scrollspy
    $('body').scrollspy();
    }
  ); 

  