---
layout: project
tab: docs
---
- page.title = "What's New in JBoss Tools #{page.version}"
.row-fluid.affixedContent
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      -# sorting versions in reverse order
      - versions = site.whatsnew_pages.keys.sort{|x,y| y <=> x}
      - versions.each do |version|
        %li{:class=>("expanded" if version == page.version)}
          %a{:href=>site.whatsnew_pages[version].output_path} #{version}
          - if version == page.version
            %ul.nav.nav-list.nested.components
              - page.components.each do |module_id, pages|
                %li.component
                  %a{:href=>"##{module_id}"} #{site.modules[module_id].name}

  .span9.scrolledContent
    - default_imagesdir = site.asciidoctor.attributes['imagesdir']
    - page.components.each do |module_id, pages|
      %div{:id=>module_id}
        %h1 #{site.modules[module_id].name}
        - pages.each do |individual_page|
          - site.asciidoctor.attributes['imagesdir'] = relative(Pathname.new(individual_page.output_path).parent.to_s)
          #{individual_page.content}
      %hr
    - site.asciidoctor.attributes['imagesdir'] = default_imagesdir
    
